<div class="cards">
  <div class="card">
    <i class="fas fa-user icon1"></i>
    <div class="card-info">
      <h3 id="tcpnum">0</h3>
      <p>Current No. of Tree Cutting Permits</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-shopping-cart icon2"></i>
    <div class="card-info">
      <h3 id="crnum">0</h3>
      <p>Current No. of Chainsaw Registrations/Permits</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-box icon3"></i>
    <div class="card-info">
      <h3 id="pwprnum">0</h3>
      <p>Current No. Plantation and Wood Processing</p>
    </div>
  </div>
  <!-- <div class="card">
    <i class="fas fa-box icon3"></i>
    <div class="card-info">
      <h3 id="wrnum">0</h3>
      <p>Current No. of Wildlife Registration</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-dollar-sign icon4"></i>
    <div class="card-info">
      <h3 id="lpnum">0</h3>
      <p>Current No. of Lumber Permits</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-dollar-sign icon4"></i>
    <div class="card-info">
      <h3 id="rpnum">0</h3>
      <p>Current No. of Resaw Permits</p>
    </div>
  </div> -->
</div>
<div class="cards">
  <!-- <div class="card">
    <i class="fas fa-user icon1"></i>
    <div class="card-info">
      <h3 id="tcpnum">0</h3>
      <p>Current No. of Tree Cutting Permits</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-shopping-cart icon2"></i>
    <div class="card-info">
      <h3 id="crnum">0</h3>
      <p>Current No. of Chainsaw Registrations/Permits</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-box icon3"></i>
    <div class="card-info">
      <h3 id="tpnum">0</h3>
      <p>Current No. of Transport Permits</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-box icon3"></i>
    <div class="card-info">
      <h3 id="pwprnum">0</h3>
      <p>Current No. Plantation and Wood Processing</p>
    </div>
  </div> -->
  <div class="card">
    <i class="fas fa-box icon3"></i>
    <div class="card-info">
      <h3 id="tpnum">0</h3>
      <p>Current No. of Transport Permits</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-box icon3"></i>
    <div class="card-info">
      <h3 id="wrnum">0</h3>
      <p>Current No. of Wildlife Registration</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-dollar-sign icon4"></i>
    <div class="card-info">
      <h3 id="lpnum">0</h3>
      <p>Current No. of Lumber Permits</p>
    </div>
  </div>
  <div class="card">
    <i class="fas fa-dollar-sign icon4"></i>
    <div class="card-info">
      <h3 id="rpnum">0</h3>
      <p>Current No. of Resaw Permits</p>
    </div>
  </div>
</div>
