<div class="sidebar">
    <div class="logo">
      <img src="../images/logo.png" alt="Logo" />
      <span>DENR PORTAL</span>
    </div>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li class="has-submenu">
        <a href="#">Tree Cutting Permit</a>
        <ul class="submenu">
          <li><a href="#">Public Safety Permit</a></li>
          <li><a href="#">Private Land Timber Permit</a></li>
          <li><a href="#">Special Private Land Timber Permit</a></li>
          <li><a href="#">National Government Agencies Permit</a></li>
        </ul>
      </li>      
      <li class="has-submenu">
        <a href="#">Chainsaw Registration</a>
        <ul class="submenu">
          <li><a href="#">New Registration</a></li>
          <li><a href="#">Renewal</a></li>
        </ul>
      </li>  
      <li><a href="#">Transport Permit</a></li>
      <li><a href="#">Permits for Approval</a></li>
      <li><a href="#">My reports</a></li>
    </ul>
    <div class="logout" id="logout">
      <i class="fas fa-sign-out-alt"></i>
      <span>Logout</span>
    </div>
  </div>
