<div class="sidebar">
  <div class="logo">
    <img src="../images/logo.png" alt="Logo" />
    <span>DENR PORTAL</span>
  </div>
  <ul>
    <li><a href="/dashboard">Dashboard</a></li>
    <li class="has-submenu">
      <a href="#">Tree Cutting Permit</a>
      <ul class="submenu">
        <li>
          <a href="/treecuttingpermits/publicsafetypermits"
            >Public Safety Permit</a
          >
        </li>
        <li>
          <a href="/treecuttingpermits/privatelandtimberpermits"
            >Private Land Timber Permit</a
          >
        </li>
        <li>
          <a href="/treecuttingpermits/nationalgovernmentagencies"
            >National Government Agencies Permit</a
          >
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="#">Chainsaw</a>
      <ul class="submenu">
        <li><a href="/chainsaw/registration">Registration</a></li>
        <li><a href="/chainsaw/permittosell">Permit to sell</a></li>
        <li><a href="/chainsaw/permittopurchase">Permit to purchase</a></li>
      </ul>
    </li>
    <li><a href="/transportpermits">Transport Permit</a></li>
    <li>
      <a href="/privatetreeplantationregistrations"
        >Plantation and Wood Processing Registration</a
      >
    </li>
    <li><a href="/wildliferegistrations">Wildlife Registration</a></li>
    <li><a href="#">Client Visitation Schedule</a></li>
    <li class="has-submenu">
      <a href="#">Others</a>
      <ul class="submenu">
        <li><a href="#">Create Order of Payment</a></li>
      </ul>
    </li>
  </ul>
  <div class="logout" id="logout">
    <i class="fas fa-sign-out-alt"></i>
    <span>Logout</span>
  </div>
</div>
