<div class="sidebar">
  <div class="logo">
    <img src="/images/logo.png" alt="Logo" />
    <span>DENR PORTAL</span>
  </div>
  <ul>
    <li><a href="/evaluator/dashboard">Dashboard</a></li>
    <li class="has-submenu">
      <a href="#">Tree Cutting Permit</a>
      <ul class="submenu">
        <li>
          <a href="/evaluator/treecuttingpermits/publicsafetypermits"
            >Public Safety Permit</a
          >
        </li>
        <li>
          <a href="/evaluator/treecuttingpermits/privatelandtimberpermits"
            >Private Land Timber Permit</a
          >
        </li>
        <li>
          <a href="/evaluator/treecuttingpermits/nationalgovernmentagencies"
            >National Government Agencies Permit</a
          >
        </li>
      </ul>
    </li>
    <li class="has-submenu">
      <a href="#">Chainsaw</a>
      <ul class="submenu">
        <li><a href="/evaluator/chainsaw/registration">Registration</a></li>
        <li><a href="/evaluator/chainsaw/permittosell">Permit to sell</a></li>
        <li><a href="/evaluator/chainsaw/permittopurchase">Permit to purchase</a></li>
      </ul>
    </li>
    <li class="has-submenu"><a href="/evaluator/transportpermits">Transport Permit</a>
      <ul class="submenu">
        <li><a href="#">Flora</a></li>
        <li><a href="#">Fauna</a></li>
        <li><a href="#">Forest Products</a></li>
      </ul>
    </li>
    <li>
      <a href="/evaluator/privatetreeplantationregistrations"
        >Plantation and Wood Processing Registration</a
      >
    </li>
    <li class="has-submenu"><a href="/evaluator/wildliferegistrations">Wildlife Registration</a>
      <ul class="submenu">
        <li><a href="#">HIndi Wild</a></li>
        <li><a href="#">Medyo Wild</a></li>
      </ul></li>
    <li><a href="#">Lumber Permits</a></li>
    <li><a href="#">Resaw Registration</a></li>
    <li class="has-submenu">
      <a href="#">Others</a>
      <ul class="submenu">
        <li><a href="#">Create Order of Payment</a></li>
      </ul>
    </li>
  </ul>
  <div class="logout" id="logout">
    <i class="fas fa-sign-out-alt"></i>
    <span>Logout</span>
  </div>
</div>
