<div class="topbar">
    <p id="datenow">...</p>
    <div class="topbar-icons">
      <i class="fas fa-bell"></i>
      <img src="../images/logo.png" alt="User Avatar" id="pfp"/>
      <p id="username"></p>
    </div>
</div>