<table id="pending-table">
  <thead>
    <tr>
      <th>CLIENT</th>
      <th>NUMBER</th>
      <th>TYPE</th>
      <th>STATUS</th>
      <th>CURRENT LOCATION</th>
      <th>Date Created</th>
    </tr>
  </thead>
  <tbody id="permittablebody"></tbody>
</table>
