<table id="rejected-table">
  <thead>
    <tr>
      <th>CLIENT</th>
      <th>NUMBER</th>
      <th>TYPE</th>
      <th>STATUS</th>
      <th>REJECTED BY</th>
      <th>REJECTED AT</th>
      <th>REASON FOR REJECTION</th>
      <th>Date Created</th>
    </tr>
  </thead>
  <tbody id="rejectedtbody"></tbody>
</table>
