<div class="top-elements">
  <div class="search">
    <input
      type="text"
      name="searchdata"
      id="searchdata"
      placeholder="Search..."
    />
  </div>
  <div class="drop-down-filters">
    <label for="status">Filter by Status: </label>
    <select name="status" id="status">
      <option value="tree_cutting">Tree Cutting Permits</option>
      <option value="chainsaw">Chainsaw Registrations and Permits</option>
      <option value="transport_permit">Transport Permits</option>
      <option value="plantation">
        Plantation and Wood Processing Registration
      </option>
      <option value="wildlife">Wildlife Registration</option>
    </select>
  </div>
</div>
