<div class="top-elements">
  <div class="drop-down-filters">
    <label for="status" style="text-transform: uppercase;font-weight: bold;">Filter by Status: </label>
    <select name="status" id="status">
      <option value="pending">Pending/For Evaluation</option>
      <option value="evaluated">For Inspection/Submission</option>
      <option value="inspected">Inspected</option>
      <option value="recommended">Recommended for CENRO Approval</option>
      <option value="approved">Approved by CENRO</option>
      <option value="endorsed">Forwarded/Endorsed</option>
      <option value="received">PENRO/RED approved</option>
    </select>
  </div>
</div>
