<div class="top-elements">
  <div class="search">
    <input
      type="text"
      name="searchdata"
      id="searchdata"
      placeholder="Search..."
    />
  </div>
  <div class="drop-down-filters">
    <label for="status">Filter by Status: </label>
    <select name="status" id="status">
      <option value="Tree Cutting Permit">Tree Cutting Permits</option>
      <option value="Chainsaw Registration / Permit">Chainsaw Registrations and Permits</option>
      <option value="Transport Permit">Transport Permits</option>
      <option value="Plantation and Wood Processing Registration">
        Plantation and Wood Processing Registration
      </option>
      <option value="Wildlife Registration">Wildlife Registration</option>
    </select>
  </div>
</div>
