<div class="top-elements">
  <div class="search">
    <input
      type="text"
      name="searchdata"
      id="searchdata"
      placeholder="Search..."
    />
  </div>
  <div class="drop-down-filters">
    <label for="status">Filter by Status: </label>
    <select name="status" id="status">
      <option value="pending">Pending/For Evaluation</option>
      <option value="evaluated">For Inspection/Submission</option>
      <option value="rejected">Initialized by RPS Chief</option>
      <!-- <option value="approved">Approved</option> -->
    </select>
  </div>
</div>
