<table>
    <thead>
      <tr>
        <th>Client/Subject</th>
        <th>Type</th>
        <th>Address</th>
        <th>Date of Implementation</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody id="schedtablebody"></tbody>
  </table>
  