<h3>Tree Cutting Application Schedules</h3>
<button id="openModalBtn">Open Schedule Modal</button>
<select name="typeFilter" id="typeFilter">
    <option value="For Inspection">For Inspection</option>
    <option value="For Implementation">For Implementation</option>
    <!-- <option value="Rejected">Rejected</option> -->

</select>
<!-- <label for="tablesearching"></label> -->
 <input type="text" placeholder="Search..." id="tablesearch">