<table>
  <thead>
    <tr>
      <th>Client/Subject</th>
      <th>Type</th>
      <th>Date</th>
      <th>Assigned Personnel</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="schedtablebody"></tbody>
</table>
