<table>
  <thead>
    <tr id="tablehead">
      <th>Client/Subject</th>
      <th>Type</th>
      <th>Address</th>
      <th>Inspection Date</th>
      <th>Assigned Personnel</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="schedtablebody"></tbody>
</table>
<!-- <button id="prevPage" disabled>Previous</button>
<button id="nextPage">Next</button> -->
