<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', {title: 'Tree Cutting Permit', csslink:
  '../css/tcp.css'}) %>
  <!-- Bootstrap CSS -->
  <body>
    <%- include('partials/sidebar') %>
    <div class="main-content">
    </div>
  </body>
</html>
