<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title><%= data.client  %> - Order of Payment</title>
    <link rel="stylesheet" href="/css/templatescss/orderofpayment.css" />
  </head>
  <body>
    <div class="page-container">
      <%- include('./partials/orderofpayment1') %>

      <div class="cut-line"></div>

      <%- include('./partials/orderofpayment1') %>
    </div>

  </body>
</html>
