<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Order of Payment - DENR</title>
    <link rel="stylesheet" href="../css/templatescss/orderofpayment.css" />
  </head>
  <body>
    <div class="page-container">
      <div class="form-container" style="margin-bottom: 50px">
        <div class="form-header">
          <div id="top-content">
            <strong>Entity Name:</strong>
            <a href="#" style="font-weight: bold">DENR-CAR, PENRO-Benguet</a
            ><br />
            <strong>Fund Cluster:</strong>
            <a href="#" style="font-weight: bold">Regular Agency Fund 101</a>
          </div>
          <div style="text-align: right" id="top-content">
            <strong>Serial No.:</strong>2025 - ___________<br />
            <strong>Date:</strong> ____________
          </div>
        </div>

        <div class="form-title">ORDER OF PAYMENT</div>

        <div class="section" id="sender">
          <strong>The Collecting Officer</strong><br />
          PSU, CENRO-Baguio
        </div>

        <div class="section">
          <table style="margin-bottom: 0px;">
            <tr>
              <td>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please
                issue Official Receipt in favor of
              </td>
              <td
                style="
                  text-align: center;
                  text-transform: uppercase;
                  font-family: Arial, Helvetica, sans-serif;
                  border-bottom: 1px solid black;
                "
              >
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                James Albert
                Mabuhay&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align: center">
                <strong style="font-size: 10px">(Name of Payor)</strong>
              </td>
            </tr>
          </table>
          <table>
            <tr>
              <td
                style="
                  text-align: right;
                  text-transform: uppercase;
                  border-bottom: 1px solid black;
                  font-family: Arial, Helvetica, sans-serif;
                "
              >
                Leonila Hill Barangayb, Baguio
                City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
            </tr>
            <tr>
              <td style="text-align: right">
               (Address/Office of Payor) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              </td>
            </tr>
          </table>
          <!-- Please issue Official Receipt in favor of
          <span
            class="underline"
            style="
              border-bottom: 1px solid black;
              width: calc(100% - 10px); 
              margin-left: 5px;
              vertical-align: middle;
            "
            ><%= name %></span
          ><br />
          <span class="small-text" style="margin-left: 60%"
            >(Name of Payor)</span
          > -->
        </div>

        <!-- <div class="section">
          <span
            class="underline"
            style="
              border-bottom: 1px solid black;
              width: calc(100% - 10px);
              margin-left: 5px;
              vertical-align: middle;
            "
            >Camp 4, Tuba, Benguet</span
          ><br />
          <span class="small-text" style="margin-left: 60%"
            >(Address/Office of Payor)</span
          >
        </div> -->

        <div class="section amount-section">
          In the amount of:
          <span class="underline" id="amount" style="margin-left: 10%"
            >FORTY FIVE THOUSAND ONE HUNDRED FIFTY PESOS</span
          >
          <span class="underline">(₱ 45,150.00)</span>
        </div>

        <table>
          <tr>
            <td style="border-bottom: 1px solid black">
              <strong>For payment of:</strong> (FMS)
            </td>
            <td>/</td>
            <td
              style="
                border-bottom: 1px solid black;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
              "
            >
              <strong
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Inventory
                Fee&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
              >
            </td>
            <td></td>
            <td class="right" style="text-align: left">- ₱ 45,150.00</td>
          </tr>
          <tr>
            <td style="border-right: 1px solid black">
              <strong style="border-bottom: 1px solid black; font-style: italic"
                >- Tree Cutting Permit (TCP)</strong
              >
            </td>
            <td>/</td>
            <td
              style="
                border-bottom: 1px solid black;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
              "
            >
              <strong
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Certification
                Fee&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
              >
            </td>

            <td class="right">-</td>
          </tr>
          <tr>
            <td
              style="
                border-right: 1px solid black;
                border-bottom: 1px solid black;
              "
            ></td>
            <td style="text-align: center; border-bottom: 1px solid black">
              /
            </td>
            <td
              style="
                border-bottom: 1px solid black;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
              "
            >
              <strong
                >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oath
                Fee&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong
              >
            </td>

            <td class="right">-</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td style="text-align: center">
              <strong style="font-size: 10px"
                >(Purpose/Nature of Collection)</strong
              >
            </td>
            <td></td>
          </tr>
        </table>

        <div class="section">Per bill No. ____________ dated ____________</div>

        <div class="section">
          <strong>Please deposit the collections under Bank Account/s:</strong
          ><br /><br />
          <table>
            <tr style="text-align: center">
              <td><a href="#" style="color: black">No.</a></td>
              <td><a href="#" style="color: black">Account Name</a></td>
              <td><a href="#" style="color: black">Name of Bank</a></td>
              <td></td>
              <td>
                <a href="#" style="color: black; margin-left: 50px">Amount</a>
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                <a href="#" style="color: black">3402-28844-20</a>
              </td>
              <td style="text-align: center">
                <a href="#" style="color: black">BTr-Regular Func</a>
              </td>
              <td style="text-align: center">
                <a href="#" style="color: black"
                  >LBP-Calderon St., Baguio City</a
                >
              </td>
              <td
                style="
                  text-align: right;
                  font-style: italic;
                  color: rgb(97, 97, 97);
                "
              >
                (GENERAL Fund)
              </td>
              <td style="text-align: right">
                &#x20B1;<a href="#" style="color: black"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  1,286</a
                >
              </td>
            </tr>
            <tr>
              <td style="text-align: center">
                <a href="#" style="color: rgb(143, 142, 142)"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
                >
              </td>
              <td></td>
              <td style="text-align: center">
                <a href="#" style="color: rgb(143, 142, 142)"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
                >
              </td>
              <td></td>
              <td style="text-align: right">
                &#x20B1;
                <a href="#" style="color: black"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
                >
              </td>
            </tr>
            <tr>
              <td><strong>Total</strong></td>
              <td></td>
              <td></td>
              <td></td>
              <td style="text-align: right">
                &#x20B1;<a
                  href="#"
                  style="color: black; border-bottom: 2px double black"
                  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  1,286</a
                >
              </td>
            </tr>
          </table>
        </div>

        <div class="section">
          <strong>GENERAL Fund:</strong> ₱ 45,150.00<br />
          <strong>Total:</strong> ₱ 45,150.00
        </div>

        <div class="section">
          OR No.: ____________<br />
          Date: ______________
        </div>

        <div class="signature-block">
          <strong>GIZELLE MAYE A. CORNELANOS</strong><br />
          Accountant III, PENRO-Benguet
        </div>

        <div class="page-number">84</div>
      </div>

      <div class="cut-line"></div>

      <!-- Copy 2 (Identical) -->
      <div class="form-container">
        <div class="form-header">
          <div id="top-content">
            <strong>Entity Name:</strong>
            <a href="#" style="font-weight: bold">DENR-CAR, PENRO-Benguet</a
            ><br />
            <strong>Fund Cluster:</strong>
            <a href="#" style="font-weight: bold">Regular Agency Fund 101</a>
          </div>
          <div style="text-align: right" id="top-content">
            <strong>Serial No.:</strong> 2025<br />
            <strong>Date:</strong> ____________
          </div>
        </div>

        <div class="form-title">ORDER OF PAYMENT</div>

        <div class="section" id="sender">
          <strong>The Collecting Officer</strong><br />
          PSU, CENRO-Baguio
        </div>

        <div class="section" id="indented">
          Please issue Official Receipt in favor of
          <span class="underline" style="width: 100%"><%= name %></span><br />
          <span class="small-text" style="margin-left: 60%"
            >(Name of Payor)</span
          >
        </div>

        <div class="section">
          <span class="underline">Camp 4, Tuba, Benguet</span><br />
          <span class="small-text" style="margin-left: 60%"
            >(Address/Office of Payor)</span
          >
        </div>

        <div class="section amount-section">
          In the amount of:
          <span class="underline" id="amount" style="margin-left: 20%"
            >FORTY FIVE THOUSAND ONE HUNDRED FIFTY PESOS</span
          >
          <span class="underline">(₱ 45,150.00)</span>
        </div>

        <table class="bordered">
          <tr>
            <td><strong>For payment of:</strong> (FMS)</td>
            <td class="right">₱ 45,150.00</td>
          </tr>
          <tr>
            <td><em>- Tree Cutting Permit (TCP)</em></td>
            <td class="right">-</td>
          </tr>
          <tr>
            <td></td>
            <td class="right">-</td>
          </tr>
        </table>

        <div class="section">Per bill No. ____________ dated ____________</div>

        <div class="section">
          <strong>Please deposit the collections under Bank Account/s:</strong
          ><br /><br />
          <table>
            <tr>
              <td><strong>No.:</strong></td>
              <td>3400-28844-20</td>
            </tr>
            <tr>
              <td><strong>Account Name:</strong></td>
              <td>BT-Regular Fund</td>
            </tr>
            <tr>
              <td><strong>Name of Bank:</strong></td>
              <td>LBP-Calderon St., Baguio City</td>
            </tr>
          </table>
        </div>

        <div class="section">
          <strong>GENERAL Fund:</strong> ₱ 45,150.00<br />
          <strong>Total:</strong> ₱ 45,150.00
        </div>

        <div class="section">
          OR No.: ____________<br />
          Date: ______________
        </div>

        <div class="signature-block">
          <strong>GIZELLE MAYE A. CORNELANOS</strong><br />
          Accountant III, PENRO-Benguet
        </div>
      </div>
      <div class="page-number">84</div>
    </div>

    <div class="btn-container">
      <button onclick="window.print()">🖨️ Print / Save as PDF</button>
    </div>
  </body>
</html>
