<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Order of Payment - DENR</title>
  <link rel="stylesheet" href="../css/templatescss/orderofpayment.css">
</head>
<body>

  <div class="page-container">

    <!-- Copy 1 -->
    <div class="form-container">
      <div class="form-header">
        <div>
          <strong>Entity Name:</strong> <a href="#">DENR-CAR, PENRO-Benguet</a><br>
          <strong>Fund Cluster:</strong> <a href="#">Regular Agency Fund 101</a>
        </div>
        <div style="text-align: right;">
          <strong>Serial No.:</strong> 2025<br>
          <strong>Date:</strong> ____________
        </div>
      </div>

      <div class="form-title">ORDER OF PAYMENT</div>

      <div class="section" id="sender">
        <strong>The Collecting Officer</strong><br>
        PSU, CENRO-Baguio
      </div>

      <div class="section" id="indented">
        Please issue Official Receipt in favor of
        <span class="underline"><%= name %></span>
      </div>

      <div class="section">
        <div class="underline">Camp 4, Tuba, Benguet</div><br>
        <span class="small-text">(Address/Office of Payor)</span>
      </div>

      <div class="section amount-section">
        In the amount of: <span class="underline">FORTY FIVE THOUSAND ONE HUNDRED FIFTY PESOS</span> (₱ 45,150.00)
      </div>

      <table class="bordered">
        <tr>
          <td><strong>For payment of:</strong> (FMS)</td>
          <td class="right">₱ 45,150.00</td>
        </tr>
        <tr>
          <td><em>- Tree Cutting Permit (TCP)</em></td>
          <td class="right">-</td>
        </tr>
        <tr>
          <td></td>
          <td class="right">-</td>
        </tr>
      </table>

      <div class="section">
        Per bill No. ____________ dated ____________
      </div>

      <div class="section">
        <strong>Please deposit the collections under Bank Account/s:</strong><br><br>
        <table>
          <tr>
            <td><strong>No.:</strong></td>
            <td>3400-28844-20</td>
          </tr>
          <tr>
            <td><strong>Account Name:</strong></td>
            <td>BT-Regular Fund</td>
          </tr>
          <tr>
            <td><strong>Name of Bank:</strong></td>
            <td>LBP-Calderon St., Baguio City</td>
          </tr>
        </table>
      </div>

      <div class="section">
        <strong>GENERAL Fund:</strong> ₱ 45,150.00<br>
        <strong>Total:</strong> ₱ 45,150.00
      </div>

      <div class="section">
        OR No.: ____________<br>
        Date: ______________
      </div>

      <div class="signature-block">
        <strong>GIZELLE MAYE A. CORNELANOS</strong><br>
        Accountant III, PENRO-Benguet
      </div>

      <div class="page-number">84</div>
    </div>

    <!-- Cut Line -->
    <div class="cut-line"></div>

    <!-- Copy 2 (Identical) -->
    <div class="form-container">
      <!-- Duplicate of Copy 1 -->
      <div class="form-header">
        <div>
          <strong>Entity Name:</strong> DENR-CAR, PENRO-Benguet<br>
          <strong>Fund Cluster:</strong> Regular Agency Fund 101
        </div>
        <div style="text-align: right;">
          <strong>Serial No.:</strong> 2025<br>
          <strong>Date:</strong> ____________
        </div>
      </div>

      <div class="form-title">ORDER OF PAYMENT</div>

      <div class="section">
        <strong>The Collecting Officer</strong><br>
        PSU, CENRO-Baguio
      </div>

      <div class="section">
        Please issue Official Receipt in favor of 
        <span class="underline">PUNONG BARANGAY JOHN O. DOGAO JR.</span>
      </div>

      <div class="section">
        <div class="underline">Camp 4, Tuba, Benguet</div><br>
        <span class="small-text">(Address/Office of Payor)</span>
      </div>

      <div class="section amount-section">
        In the amount of: <span class="underline">FORTY FIVE THOUSAND ONE HUNDRED FIFTY PESOS</span> (₱ 45,150.00)
      </div>

      <table class="bordered">
        <tr>
          <td><strong>For payment of:</strong> (FMS)</td>
          <td class="right">₱ 45,150.00</td>
        </tr>
        <tr>
          <td><em>- Tree Cutting Permit (TCP)</em></td>
          <td class="right">-</td>
        </tr>
        <tr>
          <td></td>
          <td class="right">-</td>
        </tr>
      </table>

      <div class="section">
        Per bill No. ____________ dated ____________
      </div>

      <div class="section">
        <strong>Please deposit the collections under Bank Account/s:</strong><br><br>
        <table>
          <tr>
            <td><strong>No.:</strong></td>
            <td>3400-28844-20</td>
          </tr>
          <tr>
            <td><strong>Account Name:</strong></td>
            <td>BT-Regular Fund</td>
          </tr>
          <tr>
            <td><strong>Name of Bank:</strong></td>
            <td>LBP-Calderon St., Baguio City</td>
          </tr>
        </table>
      </div>

      <div class="section">
        <strong>GENERAL Fund:</strong> ₱ 45,150.00<br>
        <strong>Total:</strong> ₱ 45,150.00
      </div>

      <div class="section">
        OR No.: ____________<br>
        Date: ______________
      </div>

      <div class="signature-block">
        <strong>GIZELLE MAYE A. CORNELANOS</strong><br>
        Accountant III, PENRO-Benguet
      </div>

      <div class="page-number">84</div>
    </div>
  </div>

  <div class="btn-container">
    <button onclick="window.print()">🖨️ Print / Save as PDF</button>
  </div>

</body>
</html>
