<div id="received_div" style="width: 100%; display: none;" >
    <br>
    <table id="receivedtable" style="width: 100%;">
      <thead>
        <tr>
          <th>CLIENT</th>
          <th>NUMBER</th>
          <th>STATUS</th>
          <th>CURRENT LOCATION</th>
          <th>APPLICATION DATE</th>
          <th>APPROVED BY</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody id="receivedtbody">
      </tbody>
    </table>
</div>