<div id="evaluatedtable_div" style="display: none; width: 100%;">
  <br>
  <table id="evaluated-table" style="width: 100%;">
    <thead>
      <tr>
        <th>CLIENT</th>
        <th>NUMBER</th>
        <th>STATUS</th>
        <th>EVALUATED BY</th>
        <th>EVALUATED AT</th>
        <th>CURRENT LOCATION</th>
        <th>APPLICATION DATE</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody id="evaluatedtbody"></tbody>
  </table>
</div>
