<div id="pendingtable_div" style="width: 100%;">
  <br>
  <table id="pending-table" style="width: 100%;">
    <thead>
      <tr>
        <th>CLIENT</th>
        <th>NUMBER</th>
        <th>STATUS</th>
        <th>CURRENT LOCATION</th>
        <th>APPLICATION DATE</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody id="permittablebody">
    </tbody>
  </table>
</div>
