<div class="modal" id="actionmodal">
  <div class="modal-content" id="chooser-content">
    <h2 id="modalTitle">
      Choose where you want to endorse the permit/application
    </h2>
    <br />
    <br />
    <div class="choices">
      <div class="card">
        <h5>Provincial Environment and Natural Resources Office - Benguet</h5>
        <div class="icon-holder">
          <h1>PENRO</h1>
        </div>
      </div>
      <div class="card">
        <h5>Regional Executive Department</h5>
        <div class="icon-holder">
          <h1>RED</h1>
        </div>
      </div>
    </div>
    <br />
    <div class="modal-buttons">
        <button id="endorsebtn">Endorse Permit</button>
        <button id="cancelbtn">Cancel</button>
    </div>
  </div>
  <div class="modal-content" style="display: none;" id="loader-content">
    <div class="loader"></div>
    <br />
    <h2>Updating Permit Information</h2>
  </div>
</div>
