<div id="permitModal" class="modal hidden">
  <div class="modal-content" id="data-displayer">
    <span id="closeModal" class="close-button">&times;</span>
    <h2 id="modalTitle">Permit Details</h2>
    <label for="modalClient">Client: </label>
    <input type="text" name="modalClient" id="modalClient" />
    <label for="modalAddress">Address: </label>
    <input type="text" name="modalAddress" id="modalAddress" />
    <label for="modalDate">Application Date: </label>
    <input type="text" name="modalDate" id="modalDate" />
    <h3 style="margin-top: 20px">Requirements Submitted by The Client</h3>
    <div id="requirements" class="requirements-grid"></div>
    <div class="action-buttons">
      <button id="approvebtn">Mark as Evaluated</button>
      <button id="rejectbtn">Reject</button>
    </div>
    <div class="action-buttons" id="evaluated-abtns" style="display: none">
      <button id="createOOPbtn">Create Order of Payment</button>
    </div>
  </div>
</div>
