<div id="custom-modal" class="modal">
    <div class="modal-content">
      <img src="../images/tanap.gif" alt="loader" id="loadergif">
      <p id="modal-message">Logging in...</p>
    </div>
  </div>