<div class="modal" id="evaluatedmodal">
  <div class="modal-content">
    <div class="modal-head">
      <h2 id="modal-title">Permit Details</h2>
    </div>
    <div class="modal-body">
      <span id="closeModal" class="close-button">&times;</span>
      <h2 id="modalTitle">Permit Details</h2>
      <label for="modalClient">Client: </label>
      <input type="text" name="modalClient" id="modalClient" />
      <label for="modalAddress">Address: </label>
      <input type="text" name="modalAddress" id="modalAddress" />
      <label for="modalDate">Application Date: </label>
      <input type="text" name="modalDate" id="modalDate" />
      <h3 style="margin-top: 20px">Requirements Submitted by The Client</h3>
      <div id="requirements" class="requirements-grid"></div>
      <div class="action-buttons">
        <button id="initializedbtn">Mark As Initialized</button>
      </div>
    </div>
  </div>
</div>
